
body{ background-image: url(https://images.vexels.com/media/users/3/150618/raw/749a6efa4de8988aaa9e37119303fed3-ilustracion-que-fluye-de-helado.jpg);}



img{background-position:center center; width: 1000px; height: 1000px;}