body{   background-image: url(https://images.vexels.com/media/users/3/150618/raw/749a6efa4de8988aaa9e37119303fed3-ilustracion-que-fluye-de-helado.jpg);
        background-position: center center;
        background-size: cover;
}

h1{color: rgb(255, 0, 0);}
p{color: rgb(29, 0, 190);}

img{background-position:center center; width: 200px; height: 200px;}














